SQL code to create stellab database

In [1]:
#pip install pymysql

In [47]:
import sqlite3
import stellab as st

SQLite is a C library that provides a lightweight disk-based database that doesnâ€™t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language.

In [35]:
!rm stellab.db

rm: stellab.db: No such file or directory

Creating database and table refs

In [40]:
db=sqlite3.connect('stellab.db')
curser=db.cursor()
curser.execute('''CREATE TABLE IF NOT EXISTS refs (refid integer primary key autoincrement, name text, year year, nasads text)''')
db.commit()

Add entries

In [52]:
st1=st.stellab()
#papers=st1.list_ref_papers()
legs=st1.leg

In [61]:
name=[]
year=[]
for i,labels in enumerate(legs):
    name.append(labels.split('(')[0].strip())
    year.append(labels.split('(')[1].strip()[:-1])

In [63]:
year

['R13',
 '2010',
 '2004',
 '2014',
 '2004',
 '2007',
 '2008',
 '2010',
 '2005',
 '2004',
 '2009',
 '2005',
 '2004',
 '2009',
 '2003',
 '2004',
 '2008',
 '2007',
 '2006',
 '2003',
 '2005',
 '2016',
 '2014',
 '2013',
 '2014',
 '2015',
 '2013',
 '2015',
 '2013',
 '2013',
 '2012',
 '2008',
 '2012',
 '2012-13',
 '2009',
 '2014',
 '2010',
 '2010',
 '2013',
 '2015',
 '2010',
 '2014',
 '2017',
 '2015',
 '2012',
 '2012',
 '2012',
 '2008']

In [37]:
data=[['Venn',2012,'http://adsabs.harvard.edu/abs/2012ApJ...751..102V']]

In [38]:
curser.executemany('''INSERT INTO refs (name,year,nasads) VALUES ( ?, ?, ?)''', data)
db.commit()

Get entries

In [39]:
results=db.execute('SELECT * FROM refs')
results.fetchall()

[(1, u'Venn', 2012, u'http://adsabs.harvard.edu/abs/2012ApJ...751..102V')]