# Building SQL database for Stellab

SQL code to create stellab database

Tables:
* refs: Table with literature references:
    * refid: unique reference id (PK)
    * fauthor: first author
    * year
    * nasaads: link to nasa ads page

* galaxies
    * gali: unique ref id
    * name: galaxy name

* solarnorms
    * normid: unique reference id (PK)
    * H, He... abundance entries
    * refids

* abundance
    * abuid: unique reference id
    * element ratio1, element ratio2...
    * error1, errror2 ...

Tips:
* Use not null
* fixed lenght type arrays are faster

In [4]:
#pip install pymysql

In [2]:
#We choose sqlite3 because it does not require to install mysql or run a server.
import sqlite3
import stellab as st

SQLite is a C library that provides a lightweight disk-based database that doesnâ€™t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language.

Creating database and table refs

### Add references

In [4]:
st1=st.stellab()
#papers=st1.list_ref_papers()
legs=st1.leg

name=[]
year=[]
for i,labels in enumerate(legs):
    name.append(labels.split('(')[0].strip())
    year.append(labels.split('(')[1].strip()[:-1])

In [8]:
st1.list_solar_norm()

Anders_Grevesse_1989
Grevesse_Noels_1993
Grevesse_Sauval_1998
Asplund_et_al_2009
Asplund_et_al_2005
Lodders_et_al_2009

In [37]:
data=[['Venn',2012,'http://adsabs.harvard.edu/abs/2012ApJ...751..102V']]

In [74]:
#create table
!rm stellab.db
db=sqlite3.connect('stellab.db')
curser=db.cursor()
curser.execute('''CREATE TABLE IF NOT EXISTS refs (refid integer primary key autoincrement, fauthour text, year year, nasads text)''')
curser.execute('''CREATE TABLE IF NOT EXISTS galaxies (galid integer primary key autoincrement, name text)''')
curser.execute('''CREATE TABLE IF NOT EXISTS solarnorms (normid integer primary key autoincrement, H float, He float, refid integer)''')
db.commit()

In [75]:
curser.execute('''INSERT INTO refs (fauthour,year,nasads) VALUES 
        ('Anders','1989', 'http://adsabs.harvard.edu/abs/2012ApJ')''')

In [102]:

def check_normalization(name,year):
    results = db.execute('''SELECT refid FROM refs WHERE (fauthour = '%s' and year = '%s' )''' % (name,year))  #% ('Anders','1989'))
    refid = results.fetchall()
    if len(refid)==1:
        refid = refid[0][0]
        results = db.execute('''SELECT normid FROM solarnorms WHERE (refid = %s )''' %(refid))
        normid = results.fetchall()
        if len(normid)==1:
            print normid
        else:
            print 'normalization data for reference paper not available. Add normalization data first.'
    else:
        print 'paper for normalization not available. Add paper reference first.'
    stop

In [104]:
def add_paper_ref(name,year,url):
    results = db.execute('''SELECT refid FROM refs WHERE (fauthour = '%s' and year = '%s' )''' % 
                         (name,year))
    if len(results)==0:
            print 'add abu data paper'
            #some insert ...
    else:
        print 'abu data paper exists already'

In [ ]:
def add_abundance(name,year,url):
    results = db.execute('''SELECT refid FROM refs WHERE (fauthour = '%s' and year = '%s' )''' % 
                         (name,year))
    if len(results)==0:
            print 'add abu data paper'
            #some insert ...
    else:
        print 'abu data paper exists already'

In [101]:
check_normalization('Anders','1989')

normalization data for reference paper not available. Add normalization data first.

In [12]:
#add new dataset

abundance_paper=['Venn',2012,'http://adsabs.harvard.edu/abs/2012ApJ...751..102V','Milky Way']
abundance_norm=['Anders','1989']
abundance_label=['[Fe/H]','err']
abundance_data = [-2.81,0.34,]

In [38]:
def add_abundance_data(abu_info,abu_norm,abu_label,abu_data):
    '''
    Adding new abundance data to file
    where for example 
    abundance_info=['Venn',2012,'http://adsabs.harvard.edu/abs/2012ApJ...751..102V','Milky Way','Anders_Grevesse_1989']
    abundance_label=['[Fe/H]','err']
    abundance_data = [-2.81,0.34,]    
    '''
    
    #check if normalization paper and data already exists in database
    check_normalization(abu_norm[0],abu_norm[1])
    
    #check if abundance paper into database, if it does not exist
    add_paper_ref(abundance_paper[0],abundance_paper[1],abundance_paper[2])

    # add abundance data
    
    curser.execute('''SELECT TABLE 
    if abundance_info[4]:
    
    
    
#add data
curser.executemany('''INSERT INTO refs (name,year,nasads) VALUES ( ?, ?, ?)''', data)
db.commit()

In [ ]:
#test
results=db.execute('SELECT * FROM refs')
results.fetchall()[0]

### Add galaxies

In [ ]:
#create table
db=sqlite3.connect('stellab.db')
curser=db.cursor()
curser.execute('''CREATE TABLE IF NOT EXISTS galaxies (galid integer primary key autoincrement, name text)''')

In [15]:
#add data
#db.commit()

In [ ]:
#add data
curser.execute('''CREATE TABLE IF NOT EXISTS solarnorms (normid integer primary key autoincrement, H float, He float, refid integer)''')